<h3 class="page-header page-header-top"><i class="fa fa-line-chart"></i> Statitiques</h3>

<!--
	Tableau nombre de demande par mois 
-->
<div class="col-md-6">

	<div class="dash-tile clearfix animation-pullDown">
		<div class="dash-tile-header">
			Tableau nombre de demande par mois 
		</div>
		<canvas class="chart chart-line" data="data" labels="labels" legend="false" series="series"></canvas> 
	</div>

</div>

<!--
	Tableau nombre de location externe par mois 
-->

<!--
	Répartition des demandes par service
-->										

<div class="col-md-6">

	<div class="dash-tile clearfix animation-pullDown">
		<div class="dash-tile-header">
			Répartition des demandes par service
		</div>
		<canvas id="line" class="chart chart-line" data="servicesData" labels="servicesLabels" legend="false" series="servicesSeries"></canvas> 
	</div>

</div>