<div class="row">
	<div class="col-md-8">

		<div class="form-horizontal form-box">
			<h4 class="form-box-header">Enregistrement d'une demande non présente dans la GMAE</h4>

			<div class="form-box-content">

				<div class="form-group">
					<label class="control-label col-md-2"><strong>Service</strong></label>
					<div class="col-md-10">
						<select class="form-control" ng-model="currentServices" ng-options="data._id as data.name for data in services" ng-change="selectService()" required name="currentServices"></select>
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-md-2"><strong>Demandeur</strong></label>
					<div class="col-md-10">
						<select class="form-control" ng-model="currentUser" ng-options="data._id as data.name for data in users" ng-change="selectUser()" required name="currentUser"></select>
					</div>
				</div>

				<div class="form-group">
					<div class="control-label col-md-4">
						<div class="input-group">
							<span class="input-group-addon">Civilité</span>
							<select class="form-control ng-pristine ng-valid" ng-model="patient.civility" name="civility" required>
								<option value="M." selected="">M.</option>
								<option value="Mme">Mme</option>
							</select>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="input-group">
							<span class="input-group-addon">Nom</span>
							<input type="text" ng-model="patient.name" class="form-control" name="name" ng-minlength="2" required>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="input-group">
							<span class="input-group-addon">Prénom</span>
							<input type="text" ng-model="patient.lastname" class="form-control" ng-minlength="2" name="lastname" required>
						</div>
					</div>
				</div>


				<div class="form-group">
					<div class="col-sm-6">
						<div class="input-group" ng-class="{'has-error': patient.braden.$invalid}">
							<span class="input-group-addon">Score de Braden</span>
							<input type="number" ng-model="patient.patientData.braden" class="form-control ng-pristine ng-invalid ng-invalid-required" name="braden" required min="0" max="23">
						</div>
					</div>
					<div class="col-sm-6">
						<div class="input-group" ng-class="{'has-error': patient.room.$invalid}">
							<span class="input-group-addon">chambre</span>
							<input type="number" ng-model="patient.patientData.room" class="form-control ng-pristine ng-invalid ng-invalid-required" name="room" required>
						</div>
					</div>
				</div>


				<div class="form-group">
					<div class="col-sm-4">
						<p class="f-500 c-black m-b-5"><strong>Choix du moteur</strong></p>
						<small class="c-gray">Moteur - {{selectedEngine.label || 'null'}}</small>
						<div class="btn-group" >
							<label ng-repeat="(Index, engine) in engines" ng-click="selectEngine(engine)" ng-class="{'btn-warning': engine._id === selectedEngine._id}" class="btn btn-primary">
								{{engine.label}}
							</label>
						</div>
					</div>

					<div class="col-sm-4">
						<p class="f-500 c-black m-b-5"><strong>Choix de la housse</strong></p>
						<small class="c-gray">Housse - {{selectedSlipcover.label || 'null'}}</small>
						<div class="btn-group" >
							<label ng-repeat="(Index, slipcover) in slipcovers" ng-click="selectSlipcover(slipcover)" ng-class="{'btn-warning': slipcover._id === selectedSlipcover._id}" class="btn btn-primary">
								{{slipcover.label}}
							</label>
						</div>
					</div>

					<div class="col-sm-4">
						<p class="f-500 c-black m-b-5"><strong>Entrée / Sortie</strong></p>
						<div class="input-group" ng-class="{'has-error': patient.name.$invalid}">
							<span class="input-group-addon">Date de la demande</span>
							<input type="text" ng-model="request.dateIn" class="form-control" name="name" ng-minlength="2" required>
						</div>

						<div class="input-group" ng-class="{'has-error': patient.name.$invalid}">
							<span class="input-group-addon">Date de sortie patient</span>
							<input type="text" ng-model="request.dateEnd" class="form-control" name="name" ng-minlength="2" required>
						</div>
					</div>
				</div>		

				<div class="form-group form-actions">
					<div class="col-md-4 col-md-offset-8">
						<input type="submit" class="btn btn-success" ng-click="submit()" value="Enregitrer">
						<!--<input type="submit" class="btn btn-danger" value="Annuler">-->
					</div>
				</div>

			</div>
		</div>
	</div>

	<div class="col-md-4">
		<div class="dash-tile">
			<div class="dash-tile-header">
			Résultat du formulaire Requete
			</div>
			<div class="dash-content">
				<json-formatter json="request" open="1"></json-formatter>
			</div>
		</div>
		<div class="dash-tile">
			<div class="dash-tile-header">
			Résultat du formulaire Patient
			</div>
			<div class="dash-content">
				<json-formatter json="patient" open="1"></json-formatter>
			</div>
		</div>
	</div>

</div>