

<div class="row">

  <div class="col-sm-3">
    <div class="plan">
      <h2 class="plan-header" ng-click="goNext('/manage/engine')"><i class="fa fa-cogs"></i> Moteurs</h2>
      <ul class="manage fa-ul">
        <li class="text-info"><i class="fa fa-li">{{(engines | filter: 'Utilisé').length}}</i> <strong>En Service</strong></li>
        <li class="text-success"><i class="fa fa-li">{{(engines | filter: 'En Stock').length}}</i> <strong>Disponible</strong></li>
        <li class="text-danger"><i class="fa fa-li">{{(engines | filter: 'En Panne').length}}</i> <strong>En Panne</strong></li>
      </ul>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="plan">
      <h2 class="plan-header" ng-click="goNext('/manage/slipcover')"><i class="fa fa-shield"></i> Housses</h2>
      <ul class="manage fa-ul">
        <li class="text-info"><i class="fa fa-li">{{(slipcovers | filter: 'Utilisé').length}}</i> <strong>En Service</strong></li>
        <li class="text-success"><i class="fa fa-li">{{(slipcovers | filter: 'En Stock').length}}</i> <strong>Disponible</strong></li>
        <li class="text-danger"><i class="fa fa-li">{{(slipcovers | filter: 'Laverie').length}}</i> <strong>En Laverie</strong></li>
      </ul>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="plan">
      <h2 class="plan-header"><i class="fa fa-briefcase"></i> Loueurs</h2>
      <ul class="manage fa-ul">
        <li><strong>La Vitrine Médical Pissard</strong></li>
        <li><strong>Mont Blanc Médical</strong></li>
        <li><strong>Biomédical (Test)</strong></li>
      </ul>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="plan">
      <h2 class="plan-header"><i class="fa fa-gavel"></i> Constructeurs</h2>
      <ul class="manage fa-ul">
        <li> <strong>ArjoHuntleigh</strong></li>
        <li> <strong>La Diffusion Technique</strong></li>
      </ul>
    </div>
  </div>

</div>


  <div class="row">
    <span class="col-sm-12">
      <div class="alert alert-info">
        <h4 class="alert-heading">Informations</h4>
        <p>Cliquez sur la section pour laquel vous souhaitez effectuer des modifications</p>
      </div>
    </span>
  </div>
