<div class="tab-content tab-content-default">

    <div id="error-tabs-401" class="tab-pane row active">
        <div class="col-md-offset-2 col-md-8">
            <div class=" error-container">
                <div class="error-code"><i class="fa fa-exclamation-triangle"></i> 401</div>
                <div class="error-text">Ooops.. <strong>Unauthorized</strong>!</div>
                <div class="error-text">
                        <p>Vous n'avez pas l'autorisation d'acceder à cette page.</p>
                        <p>Si vous pensez que cela est une erreur, merci de le signaler.</p>
                </div>
            </div>
        </div>
    </div>


</div>