
<div class="col-md-6 col-md-offset-3">
	<div class="dash-tile dash-tile-balloon no-opacity confirmation">
		<div class="modal-content" >
			<div class="modal-header alert alert-danger">
				<h4>Alerte de suppresion ATTENTION</h4>
			</div>
			<div class="modal-body">
				<p>Houla, est ce que tu sais ce que tu fait ????</p>
			</div>
			<div class="modal-footer">
				<button class="btn btn-danger" ng-click="confirm()">OUI</button>
				<button class="btn btn-success" ng-click="closeOnly()">NON</button>
			</div>
		</div>
	</div>
</div>